!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}
    %title= data.site.name
    %meta{:content => data.site.version, :name => "version"}
    %meta{:content => data.site.description, :name => "description"}
    %link{ rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "apple-touch-icon-144x144-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "120x120", href: "apple-touch-icon-120x120-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "apple-touch-icon-114x114-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "apple-touch-icon-72x72-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", sizes: "57x57", href: "apple-touch-icon-57x57-precomposed.png" }
    %link{ rel: "apple-touch-icon-precomposed", href: "apple-touch-icon-precomposed.png" }
    %link{ rel: "shortcut icon", href: "favicon.png" }
    %link{ rel: "icon", type: "image/ico", href: "favicon.ico" }

    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Titillium+Web:400,300", "site"
    = google_analytics_tag

  %body{:class => page_classes}
    %header#header.navbar.navbar-fixed-top{role:"banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.logo.navbar-brand{title: "We Are Interactvie", href: "#main"}
            %svg.logo-icon{"enable-background" => "new 0 0 48 48", version: "1.1", viewbox: "0 0 48 48", x: "0px", "xml:space" => "preserve", xmlns: "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", y: "0px"}
              %g
                %path{d: "M24,0C10.746,0,0,10.746,0,24c0,13.254,10.746,24,24,24c13.255,0,24-10.746,24-24C48,10.746,37.255,0,24,0z\r\n\t\t M21.025,33.717l-3.408-15.643l-3.278,15.643h-3.8L6.468,14.282h2.153l3.595,17.455h0.504l3.785-17.183h2.243l3.867,17.183h0.531\r\n\t\tl3.486-17.455h2.152l-3.96,19.435H21.025z M35.771,33.718l-3.413-17.456h-0.526l-3.486,17.455h-2.152l3.959-19.435h3.801\r\n\t\tl3.97,19.435H35.771z M39.379,33.717l-4.07-19.435h2.152l4.071,19.435H39.379z", fill: "#FFFFFF"}
            .logo-typo We Are Interactive
          
          /=link_to "We Are Interactive", "#main", :class => "navbar-brand"

        %nav.collapse.navbar-collapse.navbar-right{role:"navigation"}
          %ul.nav.navbar-nav
            %li
              =link_to "Home", "#main"
            %li
              =link_to "Projekte", "#portfolio"
            %li
              =link_to "Über uns", "#about"
            %li
              =link_to "Kontakt", "#contact"
             

    #main{role:"main"}
      = yield

      %footer#footer.wrapper
        .container
          .row.content
            .description.col-md-12
              Copyright by We Are Interactive
              ,
              =link_to "Impressum", "#imprint", :data => {:toggle => "modal"}

    = partial "partials/imprint"

    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true", "main"
